<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Trabalho</title>
    <link rel="stylesheet" href="style.css">
    <script src="app.js" defer></script>
</head>


<body>
    <div class="pgBranco">
        <div1 class="btPesquisa">
            <input type="text" id="entrada" placeholder="Nome do Exame">
            <button onclick="procuraExame()">Pesquisa</button>

        </div1>
        <div2 class="btNovo">
            <button>Novo</button>
        </div2>
        <p>
            Exames
        </p>
        <divA>
            <divB>
                <div3>
                    <table class="tela1">
                        <thead>
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Resultado</th>
                            <th>Retorno</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div3>
                <div4 class="grafico">
                    <button id="tela2">Grafico</button>
                </div4>
            </divB>
        </divA>
    </div>
</body>

</html>