<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">
  
  <title>Cadastro Pru</title>
  <script src="index.js" defer></script>
</head>
<body>
  <nav class="cabeçalho">
    <div class="logo">
      <a class="img" href="criarusuario.html"><img src="imgs/logo pru.png" alt=""></a>
    </div>
  </nav>

  <main>
    <h2 class="exibirusuario">Exibir Usuários</h2>

    <a class="criarusuario" href="index.html"><strong>Cadastrar Vacinas </strong></a>

    <ul id="lista-usuarios">
      <li>
      <a class="excluir"   href=""><span><strong>Excluir</strong></span></a>
      </li>
    </ul>



    
  </main>
  

  <div class="pru">
    <a href="criarusuario.html"><img src="imgs/Pru.png" alt=""></a>
  </div>




  <footer>
   

    <p>copyright 2023</p>
  </footer>
</body>
</html>
