<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Trabalho</title>
    <link rel="stylesheet" href="style.css">
    <script src="app.js" defer></script>
</head>


<body>
    <div class="pgBranco">
        <div id="informacoes">
            <p>Exames:</p>
            <div id="infoAtual">
                <p id="conteudoAtual">Clique em um exame para obter informações.</p>
                <div id="informacoes-adicionais"></div>
            </div>
        </div>

        <div id="exames-container"></div>
        <button onclick="restaurarEscolha()">Restaurar Escolha</button>
    </div>
</body>

</html>